body{
    font-family: 'Lato', sans-serif;
}

/* section.module.parallax-1 {
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
    align-content: center;
} */

/* section.module.parallax-1 h1 {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 10px;
    font-size: 75px;
    line-height: 300px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: white;
} */

section.module.parallax-2 {
    background-image: url("../images/charts-computer-data-669615.jpg");
    background-color: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax-2 h1 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
    letter-spacing: 10px;
    font-size: 75px;
    line-height: 300px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: white;
}

section.module.parallax-2 p{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: white;
}

section.module.content-2{
    background-color: #F8F9FA;
    color: black;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}