body{
    font-family: 'Lato', sans-serif;
}

#center-headliner{
   /* border: solid black 1px;*/
    /* text-align: center; */
}

#left-test{
   /* border: solid black 1px;*/
}

#right-test{
   /* border: solid black 1px;*/
}

section.module.parallax-1 {
    background-image: url("../images/william-iven-22449-unsplash.jpg");
    background-color: white;
}

section.module.parallax-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
}
section.module.parallax-1 h1 {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 10px;
    font-size: 75px;
    line-height: 300px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: white;
}

#icon {
    margin-left: auto;
    margin-right: auto;
}